<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" style="margin: 50px;">
  <div class="row">

    <div class="col-lg-4 col-sm-12">
      <label for="name">Name:</label>
      <input class="form-control" type="text" id="name" formControlName="name">

    </div>
    <div class="col-lg-4 col-sm-12">
      <label for="phone">Phone:</label>
      <input class="form-control" type="text" id="phone" formControlName="phone" maxlength="10">
    </div>
    <div class="col-lg-4 col-sm-12">
      <label for="email">Email:</label>
      <input class="form-control" type="email" id="email" formControlName="email">
    </div>
    <div class="col-lg-4 col-sm-12">
      <label for="city">City:</label>
      <input class="form-control" type="text" id="city" formControlName="city">
    </div>
  </div>
  <button class="btn btn-primary top20" type="submit" [disabled]="registerForm.invalid">
    {{userId?'Update':'Submit'}}
  </button>
</form>
