/* You can add global styles to this file, and also import other style files */
.btn-primary,
.btn-primary:hover,
.btn-primary:active {
  background-color: purple !important;
  border-color: purple !important;
}
.btn:hover {
  --bs-btn-font-size: 1.005rem;
}
.centerDivByFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.errorMsg {
  color: red;
}
